body {
    font-family: Arial, sans-serif;
    color: #a09e16; 
}

form, table, h1, h2, p {
    
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    color: #97a016; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #a09916;
    border: 1px solid #ddd;
}

h1 {
    background-color: #9ea016; 
    color: white; 
    padding: 16px;
    border-radius: 12px; 
}
